<div class="login-wrapper"   [ngClass]="themeService.getCurrentTheme()=='light' ? 'text-dark bg-light ' : 'text-white bg-dark'">
  <div class="login-box">
    <div class="lb-header">
      <a class="active" id="login-box-link">Login</a>
      <a id="signup-box-link" routerLink="/register">Sign Up</a>
    </div>

    <button type="button " class="login-with-google-btn mb-3 mt-1 " (click)="loginWithGoogle()">
      Sign in with Google
    </button>
   <div class="d-flex justify-content-center align-items-center mt-0 mb-2">Or </div>
   <hr>

    <form class="email-login" [formGroup]="loginForm" name="loginUser" method="post" (ngSubmit)="loginWithEmailAndPassword(loginForm.value)">
      <div *ngIf="!isUserForgottenPassword">

        <div class="u-form-group">
          <input type="email" placeholder="Enter Email address" formControlName="email" name="email" />
        </div>
        <div class="u-form-group">
          <input type="password" placeholder="Enter Password" name="password" formControlName="password"  />
        </div>
        <div class="u-form-group">
          <input type="submit" value="Log in" class="signin">
        </div>
      </div>
      <div *ngIf="isUserForgottenPassword">
        <div class="u-form-group">
          <input type="email" placeholder="Enter Email address" formControlName="email" #email name="email" />
        </div> 
          <div class="u-form-group">
          <input type="button" value="Send Reset Password Link" class="signin" (click)="sendPasswordResetEmail(email.value)" >
        </div> 
         <div class="forgot-password" *ngIf="isUserForgottenPassword">
          <a (click)="forgotPassword()">Go Back to Login </a>
      </div>
      </div>
        <div class="forgot-password" *ngIf="!isUserForgottenPassword">
          <a (click)="forgotPassword()">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>

