<form name="cityWeather" method="post" #cityForm="ngForm" (ngSubmit)="getWeather(cityForm.value)" class="form-group mt-5"> 
    <div class="input-group mb-3">
        <input type="text" class="form-control ml-2" placeholder="Enter City Name" aria-label="cityName" name="cityName" aria-describedby="basic-addon1" ngModel>
        <input type="submit" value="Get Weather" class="btn btn-success ml-2">
    </div>
</form>
<div class="card" style="width: 100%; "  *ngIf="isGetWeather" >
    <div class="card-body">
      <h5 class="card-title" align="center" >City Name: {{weatherData.name}}</h5>
      <p class="card-text">Weather Description: <b>{{weatherData.weather[0].description}}</b></p>
      <p class="card-text">Current Weather: <b>{{weatherData.weather[0].main}}</b></p>
      <p class="card-text">Current Temparature: <b>{{weatherData.main.temp}}</b></p>
        <p class="card-text">Min Temparature: <b>{{weatherData.main.temp_min}}</b></p>
    </div>
</div>