<div class="login-wrapper">
  <div class="login-box">
    <div class="lb-header">
      <a  routerLink="/login">Login</a>
      <a class="active" >Sign Up</a>
    </div>

    <form class="email-login" [formGroup]="registerForm" (submit)="registerUser(registerForm.value)" method="post">
      <div class="u-form-group">
        <input type="email" placeholder="Enter your Email" formControlName="email" required name />
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Enter your Password" formControlName="password" required />
      </div>
      <div class="u-form-group">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
