<script src="./login.js"></script>
  <div class="login-box">
    <div class="lb-header">
      <a  id="signup-box-link" routerLink="/login">Login</a>
      <a  class="active" id="signup-box-link" routerLink="/register" >Sign Up</a>
    </div>
<form class="email-login " method="post" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" >
  
  <div class="u-form-group">
    <input type="text" placeholder="Enter your Firstname" name="firstName" formControlName="firstName" />
  </div>
  
  <div class="u-form-group">
    <input type="text" placeholder="Enter your Last name" name="lastName" formControlName="lastName"/>
  </div>
    <div class="u-form-group">
      <input  type="text" placeholder="Enter your username"   name="userName" formControlName="userName"/>
    </div>
    <div class="u-form-group ">
      <input type="email" placeholder="Enter your Email" name="email" formControlName="email"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Enter your Password" name="password"  formControlName="password"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Enter your Confirm Password" name="confirmpassword" formControlName="confirmPassword"/>
    </div>
    <div class="u-form-group">
      <button type="submit">Sign Up</button>
    </div>
  </form>
  