<nav [ngClass]="themeService.getCurrentTheme() === 'light' 
  ? 'navbar navbar-expand-lg bg-body-tertiary shadow-sm' 
  : 'navbar navbar-expand-lg navbar-dark bg-dark shadow-sm'">

  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-4" href="#">Cryptosteller</a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active fw-semibold" aria-current="page"
             (click)="closeNavbar()">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" value="weather" name="weather" 
             (click)="checkUserAuthenticated($event); closeNavbar()">Weather</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" value="crypto" name="crypto" 
             (click)="checkUserAuthenticated($event); closeNavbar()">Crypto News</a>
        </li>

      </ul>
      <div class="d-flex align-items-center gap-3">
        <!-- Logout -->
        <button class="btn btn-sm btn-outline-secondary  "    [ngClass]="themeService.getCurrentTheme()=='light' ? 'text-dark' : 'text-white'" (click)="userLogout()" *ngIf="authService.isUserLoggedIn()">
          <i class="fa-solid fa-right-from-bracket"></i>  Logout
        </button>
        
        <!-- Theme Toggle -->
        <button class="btn btn-sm btn-outline-secondary  " 
        (click)="toggleTheme(); closeNavbar()"  
        [ngClass]="themeService.getCurrentTheme()=='light' ? 'text-dark' : 'text-white'">
        
        <ng-container *ngIf="themeService.getCurrentTheme()=='light'">
          <i class="fa-solid fa-moon m-1"></i> 
          <span class="d-none d-sm-inline">Dark Mode</span>
        </ng-container>
        
        <ng-container *ngIf="themeService.getCurrentTheme()=='dark'">
          <i class="fa-solid fa-lightbulb m-1"></i> 
          <span class="d-none d-sm-inline">Light Mode</span>
        </ng-container>
        
      </button>
    </div>
    </div>
  </div>
</nav>
