<table class="table table-dark">
  <thead>
    <tr class="bg-primary">
      <th scope="col">Crypto Currency</th>
      <th scope="col">Prices in (USD)</th>
      <th scope="col">Prices in (INR)</th>
    </tr>
  </thead>
  <tbody>
    <tr 
    >
      <td>Hello</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<h3 align="center">Crypto news </h3>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let news of cryptoNews">
      <div class="card">
        <img class="card-img-top" src="{{news.imageurl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.body}}</p>
          <a href="{{news.url}}" class="btn btn-primary">Read Article</a>
        </div>
      </div>
    </div>
  </div>