<table class="table table-dark">
  <thead>
    <tr class="bg-primary">
      <th scope="col">Crypto Currency (In Symbols)</th>
      <th scope="col">Prices in (USD)</th>
      <th scope="col">Prices in (INR)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crypto of coinPrices |keyvalue">
      <th scope="row">{{crypto.key}}</th>
      <td>{{crypto.value.USD}} $</td>
      <td>{{crypto.value.INR}}  ₹
      </td>
    </tr>
  </tbody>
</table>
<h3 align="center">Crypto news </h3>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let news of cryptoNews">
      <div class="card">
        <img class="card-img-top" src="{{news.imageurl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.body}}</p>
          <a href="{{news.url}}" class="btn btn-primary">Read Full Article</a>
        </div>
      </div>
    </div>
  </div>