<div 
  class="breach-check" [ngClass]=" themeService.getCurrentTheme()=='light' ? 'light-bg' : 'dark-bg-dark' ">
   <!-- Logo / Title -->
  <h1 class="logo">CryptoShield Breach Check</h1>
  <p class="subtitle">Check if your email appears in known data breaches</p>

  <!-- Search Box -->
  <div class="search-box">
    <input type="text" placeholder="Enter email address" [(ngModel)]="email"     />
    <button (click)="checkBreach()">Check</button>
  </div>

  <!-- Footer -->
  <div class="footer">
    We do not use or store your email address and usernames.
  </div>
</div>

<div class="breach-result"  
  [ngClass]="themeService.getCurrentTheme() == 'light' ? 'light-bg' : 'dark-bg-dark'"
  *ngIf="islookupResult &&lookupData.success">

  <!-- Title -->
  <h2 class="result-title">Breach Check Result</h2>

  <!-- Summary -->
  <div class="result-summary" >
    <p>
      <strong>{{ lookupData.found }}</strong> breaches found for <em>{{ email }}</em>
    </p>
  </div>

  <!-- Fields exposed -->
  <div class="exposed-fields" *ngIf="lookupData.fields?.length">
    <h3>Exposed Fields</h3>
    <ul>
      <li *ngFor="let field of lookupData.fields">{{ field | titlecase }}</li>
    </ul>
  </div>

  <!-- Sources -->
  <div class="breach-sources" *ngIf="lookupData.sources?.length">
    <h3>Sources</h3>
    <table>
      <thead>
        <tr>
          <th>Source Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let source of lookupData.sources">
          <td>{{ source.name }}</td>
          <td>{{ source.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple">
</ngx-spinner>
