<div 
  class="breach-check" [ngClass]=" themeService.getCurrentTheme()=='light' ? 'light-bg' : 'dark-bg-dark' ">
   <!-- Logo / Title -->
  <h1 class="logo">CryptoShield Breach Check</h1>
  <p class="subtitle">Check if your email appears in known data breaches</p>

  <!-- Search Box -->
  <div class="search-box">
    <input type="text" placeholder="Enter email address" #emailInput (keydown.enter)="checkBreach(emailInput)"      />
    <button (click)="checkBreach(emailInput)">Check</button>
  </div>

  <!-- Footer -->
  <div class="footer">
    We do not use or store your email address.
  </div>
</div>

<div class="breach-result"  
  [ngClass]="themeService.getCurrentTheme() == 'light' ? 'light-bg' : 'dark-bg-dark'"
  *ngIf="lookupData.results?.length !=0&&lookupData.success">

  <!-- Title -->
  <h2 class="result-title" *ngIf="lookupData.success">Breach Check Result</h2>

  <!-- Summary -->
  <div class="result-summary" >
    <p>
      breaches found for <em>{{ email }}</em>
    </p>
  </div>

  <!-- Fields exposed -->
 

  <!-- Sources -->
  <div class="breach-sources" *ngIf="lookupData.results?.length">
    <h3>Sources</h3>
    <table>
      <thead>
        <tr>
          <th>Source Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <!--  -->
        <tr *ngFor="let source of lookupData.results">
          <td>{{ source.source.name }}</td>
          <td>{{ source.source.breach_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple">
</ngx-spinner>
